# Tuple Operations

Learn about tuple operations including concatenation, repetition, and comparisons.

## Learning Objectives
- Concatenate tuples using +
- Repeat tuples using *
- Compare tuples
- Understand tuple operations efficiency

In [ ]:
# Sample tuples for operations
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = ("a", "b")
tuple4 = ("c", "d")

print("tuple1:", tuple1)
print("tuple2:", tuple2)
print("tuple3:", tuple3)
print("tuple4:", tuple4)

In [ ]:
# 1. Concatenation with +
print("=== Tuple Concatenation ===")
combined = tuple1 + tuple2
mixed_combined = tuple1 + tuple3

print("tuple1 + tuple2:", combined)
print("tuple1 + tuple3:", mixed_combined)
print("tuple3 + tuple4:", tuple3 + tuple4)

# Multiple concatenation
all_together = tuple1 + tuple2 + tuple3 + tuple4
print("All concatenated:", all_together)

In [ ]:
# 2. Repetition with *
print("=== Tuple Repetition ===")
repeated = tuple1 * 3
pattern = ("x", "o") * 4
single_repeated = (42,) * 5

print("tuple1 * 3:", repeated)
print("('x', 'o') * 4:", pattern)
print("(42,) * 5:", single_repeated)

# Zero repetition
empty_result = tuple1 * 0
print("tuple1 * 0:", empty_result)

In [ ]:
# 3. Tuple Comparisons
print("=== Tuple Comparisons ===")
a = (1, 2, 3)
b = (1, 2, 3)
c = (1, 2, 4)
d = (1, 2)

print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)
print()

# Equality
print("a == b:", a == b)
print("a == c:", a == c)
print("a != c:", a != c)

# Lexicographic comparison
print("a < c:", a < c)      # First differing element: 3 < 4
print("a > d:", a > d)      # Length doesn't matter if prefix matches
print("d < a:", d < a)      # Shorter tuple is "less" if it's a prefix

In [ ]:
# 4. More Comparison Examples
print("=== Advanced Comparisons ===")
strings1 = ("apple", "banana")
strings2 = ("apple", "cherry")
strings3 = ("apple",)

print("strings1:", strings1)
print("strings2:", strings2)
print("strings3:", strings3)
print()

print("strings1 < strings2:", strings1 < strings2)  # "banana" < "cherry"
print("strings3 < strings1:", strings3 < strings1)  # Shorter tuple comparison
print("strings1 > strings3:", strings1 > strings3)

# Mixed type comparison (be careful!)
try:
    result = (1, 2) < ("a", "b")
    print("(1, 2) < ('a', 'b'):", result)
except TypeError as e:
    print("Comparison error:", e)

In [ ]:
# 5. Membership and Length Operations
print("=== Membership and Length ===")
sample = (1, 2, 3, 2, 4, 2, 5)
print("Sample tuple:", sample)
print()

# Membership testing
print("2 in sample:", 2 in sample)
print("6 in sample:", 6 in sample)
print("10 not in sample:", 10 not in sample)

# Length
print("len(sample):", len(sample))
print("len(()):", len(()))

# Min, max, sum (for numeric tuples)
numbers = (10, 5, 8, 15, 3, 12)
print("numbers:", numbers)
print("min(numbers):", min(numbers))
print("max(numbers):", max(numbers))
print("sum(numbers):", sum(numbers))

In [ ]:
# 6. Practical Examples
print("=== Practical Examples ===")

# Combining data from different sources
first_names = ("John", "Jane", "Bob")
last_names = ("Doe", "Smith", "Johnson")
ages = (30, 25, 35)

# Create full records (this creates a nested structure)
records = tuple(zip(first_names, last_names, ages))
print("Combined records:", records)

# Building a larger dataset
data_part1 = (1, 2, 3)
data_part2 = (4, 5, 6)
data_part3 = (7, 8, 9)

complete_data = data_part1 + data_part2 + data_part3
print("Complete dataset:", complete_data)

# Creating patterns
border = ("*",) * 20
print("Border pattern:", border)

## Practice Exercise
Try combining different tuples and exploring comparison operations!